body {
    background-image: url("https://picsum.photos/id/173/2000/2000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    margin: 0px;
}

#header, .nav > a, #cta, #hero {
    color:white
}

#header {
    background-color: #E9C499 ;
    height: 60px;
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero {
    font-size:22px;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color:#ECD9AE;
}

#cta:hover{
    background-color: #e7b070;
}

#services {
    background-color: #fffaed6b;
}

.card {
    background-color:rgba(255, 240, 223, 0.486);
    width:fit-content;
}